@import 'root.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    font-family: var(--primary-font);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: var(--secondary);
    text-align: center;
}

.game-container {
    position: relative;
    overflow: scroll;
    background-image: radial-gradient(var(--primary), var(--secondary));
}

.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgb(2,0,36);
    transform: translate(-50%, -50%);
}

.game-info {
    background: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--primary);
    margin-left: 1rem;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

i {
    margin-right: 10px;
    color: var(--white);
}

.game-info button.explanation {
    background-color: #2a4e97;
    color: #fff;
}

.game-info button.explanation:hover {
    background-color: #1a355f;
}

.game-info button.start {
    background-color: #b0d3ff;
    color: #2a4e97;
}

.game-info button.start:hover {
    background-color: #92b6e0;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
}

.controls {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    border-radius: 25px;
    padding: 20px 10px;
    position: absolute;
    background: var(--white);
    color: var(--primary);
    font-size: 10;
    bottom: 10%;
    right: 5%;
}