@import 'root.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    font-family: var(--primary-font);
}

header {
    padding: 10px;
    color: var(--primary);
    background-color: var(--secondary);
    text-align: center;
}

/* #game-container {
    background: var(--primary);
} */

.game-info {
    background: var(--secondary);
}

.btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

i {
    margin-left: 20px;
}

/* Style pour le bouton Explanation */
.game-info button.explanation {
    background-color: #2a4e97;
    color: #fff;
}

.game-info button.explanation:hover {
    background-color: #1a355f;
}

/* Style pour le bouton Start */
.game-info button.start {
    background-color: #b0d3ff;
    color: #2a4e97;
}

.game-info button.start:hover {
    background-color: #92b6e0;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
}